#chat-container {
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    background-color: white;
}

#chat-window {
    height: 400px;
    overflow-y: auto;
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.input-container {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically aligns items in the container */
}

#chat-input {
    flex-grow: 1;
    margin-right: 3px;
    padding: 5px;
}

#send-btn {
    width: 50px;
}

.record-container {
    text-align: center; /* Centers its children horizontally */
    display: flex;      /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 100px; /* Adjust as needed */
}

.record-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes it circular */
    background-color: dimgray; /* Default non-recording color */
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 6px;
}

.record-label {
    font-family: gill sans, sans-serif; /* Example using Arial, a common sans-serif font */
}

.record-btn.recording {
    background-color: red; /* Color when recording */
}

.message.bot-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message.bot-message::after {
    content: '🔉'; /* Speaker emoji as an icon; you can replace it with an icon from a library like Font Awesome */
    margin-left: 10px;
    font-size: 1em;
}

.message {
    margin: 5px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}
